@import url('https://fonts.googleapis.com/css?family=poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins','sans-serif';

}
:root{
    --bg-color: #152022;
    --sec-bg-color: #182324;
    --text-color: #d1d9d9;
    --hover-color: #87f1c1;
    --p-fsize: 1.7rem;
    --h3-fsize: 3.2rem;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2.9rem;
    justify-content: center;
    transition: 5s;
}
.logo span{
    display:none;
}
.logo p{
    font-weight: 800;
}
.logo i{
    color: #ffdf00;
}
.logo:hover{
    animation: Rotate 5s linear infinite; 
}

.deco a{
    display: inline-block;
    font-size: 1.8rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 4rem;
    position: relative;
    transition: .3s;
}
.deco a::after{
    
    content:"";
    width: 0;
    height: 3px;
    background-color: var(--hover-color);
    position: absolute;
    left: 50%;
    bottom: -6px;
    transition: .5s;
}
.deco a:hover::after,
.deco a.active::after{
    left: 0;
    width: 100%;
}
.header #menu-icon{
    display:none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: var(--h3-fsize);
    font-weight: 400;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2.5rem;
}
.home-content h3 span{
    color: var(--text-color);
    font-weight: 700;
}
.home-content h1{
    display: inline-block;
    color: var(--hover-color);
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    transition: .3s;
}
.home-content h1:hover{
    transform: scale(1.1);
}

.home-content p{
    font-size: var(--p-fsize);
}
.home-img img {
    border-radius: 10px;
    box-shadow: 0 0 10px var(--hover-color);
    width: 28vw;
}
span{
    color: var(--hover-color);
}
.about{
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: var(--sec-bg-color);

}
.about-img img{
    border-radius: 10px;
    width: 28vw;
}
.heading{
    text-align: center;
    font-size: 4rem;
    padding-bottom: 20px;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;   
}

.about-content h3{
    font-size: var(--h3-fsize);  
}
.about-content p{
    font-size: var(--p-fsize);
    margin: 2rem 0 3rem;
}
.about-content .about-table{
    padding-bottom: 20px;
}

.table{
    margin-top: 20px;
}
.about-table a{
    cursor: pointer;
}
.about-table ul li span{
    color: #a1eccf;
    
}

.about-table ul{
    font-size: var(--p-fsize);
    list-style: none;
}

.about-table ul li{
    font-size: var(--p-fsize);
    padding-bottom: 10px;
}
.about-table .table{
    display: none;
}
.table.active-tab{
    display: block;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--hover-color);
    border-radius: 15px;
    font-size: 1.5rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s; 
}
.btn:hover{
    transform: scale(.9);
}
.projects{
    background-color: var(--bg-color);
}
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2.5rem;
}
.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    cursor: pointer;
}
.project-box img{
    width: 100%;
    transition: .5s ease;
    
}
.project-box:hover img{
    width: 100%;
    transform: scale(1.1)
}
.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.5), var(--hover-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(200%);
    transition: .5s ease;

}
.project-box:hover .project-layer{
    transform: scale(1.1);
    transform: translateY(0);
     
}
.project-layer h4{
    font-size: var(--h3-fsize);

}
.project-layer p{
    font-size: 1.7rem;
    margin: .3rem 0 1rem;
    color: var(--text-color);
    font-weight: 700;
}
.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    text-decoration: none;
}
.project-layer a i{
    font-size: 2rem;
    color: var(--sec-bg-color);
}
.project-box .projectView{
    position: absolute;
    top:0;
    left:0;
    background-color:transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.projectActive{
    display: none;
}
.view-project.projectDisplay{
    display: none;
}
.view-project{
    display:flex;
    justify-content:center;
    margin: 0 10px;
    gap: 5%;

}
.view-project .project-photos{
    display:flex;
    justify-content:center;
    background-color:rgba(135, 241, 193,0.2);
    width:50%;
    /*height: 80vh;*/
    position: relative;
}
.view-project .project-photos img{
    min-width: 25vw;
}
.project-photos .img-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    font-size: 4.5em;
}
.img-btn.btn-next{
    right: 0;
}
.img-btn.btn-prev{
    left: 0;
}

.view-project .project-text{
    width: 45%;
}
.view-project .project-text .project-head{
    position: relative;
}
.view-project .project-text #project-name{
    font-size: 4em;
    font-weight: 500;
    color: var(--hover-color);
    padding-bottom: 20px;
}
.view-project .project-text i{
    position: absolute;
    right: 0;
    top: 10%;
    font-size: 3.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: .3s;
}
.view-project .project-text i:hover{
    color: rgba(255,0,0,.2);
}
.view-project .project-text p{
    font-size: var(--p-fsize);
    padding-bottom: 10px;
}
.view-project .project-text p:nth-last-of-type(1){
    padding-bottom: 40px;
}
.view-project .project-text .viewcode-btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    border: 1px solid var(--hover-color);
    border-radius: 5px;
    font-size: 1.7em;
    color: var(--hover-color);
    letter-spacing: .1rem;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;
    cursor: pointer;
}
.view-project .project-text .viewcode-btn:hover{
    color: var(--bg-color);
    background-color: var(--hover-color);
}
.project-text .project-details .text{
    color: var(--text-color);
}
.contact{
    background-color: var(--sec-bg-color);
    display:flex;
    justify-content: space-between;
}
.contact .contact-left{
    width: 80%;
}
.contact-left .heading{
    text-align: left;
}
.contact .contact-left p{
    font-size: var(--p-fsize);
    padding: 0;
    margin: 0;
}
.contact-left p i{
    color: var(--hover-color);
    font-size: 2.5rem;
    padding: 10px 10px 0;

}
.social-media-icons{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}
.social-media-icons a i{
    display: inline-block;
    color: var(--hover-color);
    font-size: 2.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
    padding: 10px 5px;
}
.social-media-icons a i:hover{
    transform: scale(1.3);
}
.contact-left h2{
    margin-bottom: 3rem;
}
.contact-left .btn.btn2{
    display: inline-block;
}
.contact-right{
    text-align: center;
}
.contact-right form{
    margin: 1rem auto;
    width: 100%;
    text-align:center;
    margin-bottom: 3rem;
}

.contact-right form input[type="text"],
.contact-right form input[type="email"],
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form textarea{
    resize:vertical;  
}

.contact .btn{
    margin-top: 2rem;
    cursor: pointer;
}
.contact-right #submit-response{
    color: green;
    font-size: 1.5rem;
    margin: -15px;
}
.footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}
.footer .footer-iconTop a{
    padding: 0.8rem;
    background: var(--hover-color);
    color:#182324;
    border-radius: .8rem;
    font-size: 2.5rem;
    transition: 0.2s;
}
.footer-iconTop a:hover{
    font-size: 2.3rem;
}

/*Aniamation*/
@keyframes Rotate{
    0%{
        transform: rotateY(0);
    }
    50%{
        transform: rotateY(360deg);
    }
    100%{
        transform: rotateY(0);
    }
}

/*-------Smaller screens*/
@media only screen and (max-width: 900px){
    .header{
        padding: 1.5rem 3%;
    }
    .header .logo{
        font-size: 2.5rem;
    }
    .home{
        padding: 20px 5% 0;
    }
    .home h3{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .home h1{
        font-size: 4.5rem;
        font-weight: 600;
    }
    .home h1:hover{
        transform: scale(1.05);
    }
    
    .heading{
        font-size: 3.5rem;
    }
    .about h3{
        font-size: 2.5rem;
    }
    .project-container{
        gap: 2rem;
    }
    .project-layer h4{
        font-size: 2.5rem;
    
    }
    .project-layer a{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    .project-layer a i{
        font-size: 1.7rem;
    }
    .contact{
        padding-left: 3%;
        padding-right: 3%;
    }
    .contact .contact-left p i{
        font-size: 2rem;
    }
    .contact .contact-right form{
        width: 90%;
    }
    .footer{
        padding: 2rem 5%;
    }
    .footer .footer-iconTop a{
        font-size: 2rem;
    }
    .footer .footer-iconTop a:hover{
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 700px){
    .header #menu-icon{
        display: block;
        font-size: 2.5rem;
        cursor: pointer;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .2rem rgba(0,0,0,.2);
        transform: translateY(-150%);
    }
    .navbar.active{
        transform: translateY(0);
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .header{
        padding: 1.5rem 1%;
    }
    .header .logo{
        font-size: 2.5rem;
    }
    .home{
        flex-direction: column;
        margin-top: 50px;
        overflow-y:auto;
    }
    .home h3{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .home h1{
        font-size: 4.5rem;
        font-weight: 600;
    }
    .home h1:hover{
        transform: scale(1.05);
    }
    .home .home-img img{
        width: 35vw;
    }
    .heading{
        font-size: 3.5rem;
    }
    .about{
        flex-direction: column;
    }
    .about .about-img img{
        width: 35vw;
    }
    .about h3{
        font-size: 2.5rem;
    }
    .project-container{
        display:flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
    }
    .project-layer h4{
        font-size: 2.5rem;
    
    }
    .project-layer a{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    .project-layer a i{
        font-size: 1.7rem;
    }
    .contact{
        display: block;
    }
    .contact .contact-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
    }
    .contact .contact-left p i{
        font-size: 2rem;
    }
    .contact .contact-right form{
        width: 90%;
    }
    .footer{
        padding: 2rem 5%;
    }
    .footer .footer-iconTop a{
        font-size: 2rem;
    }
    .footer .footer-iconTop a:hover{
        font-size: 1.8rem;
    }
@media only screen and (max-width: 700px){
    .header #menu-icon{
        display: block;
        font-size: 2.5rem;
        cursor: pointer;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .2rem rgba(0,0,0,.2);
        transform: translateY(-150%);
        transition: 2s ease;
    }
    .navbar.active{
        transform: translateY(0);
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .header{
        padding: 1.5rem 1%;
    }
    .header .logo{
        font-size: 2.5rem;
    }
    .home{
        flex-direction: column;
    }
    .home h3{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .home h1{
        font-size: 4.5rem;
        font-weight: 600;
    }
    .home h1:hover{
        transform: scale(1.05);
    }
    .home .home-img img{
        width: 35vw;
    }
    .heading{
        font-size: 3.5rem;
    }
    .about{
        flex-direction: column;
    }
    .about-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .about .about-img img{
        width: 35vw;
    }
    .about h3{
        font-size: 2.5rem;
    }
    .project-container .project-box{
        display: block;
        margin: 0 auto;
    }
    .project-layer h4{
        font-size: 2rem;
    
    }
    .project-layer p{
        font-size: 1.5rem;
    
    }
    .project-layer a{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    .project-layer a i{
        font-size: 2rem;
    }
    .contact{
        display: block;
    }
    .contact .contact-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
    }
    .contact .contact-left p i{
        font-size: 1.5rem;
    }
    .contact .contact-right form{
        width: 100%;
    }
    .footer{
        padding: 2rem 5%;
    }
    .footer .footer-iconTop a{
        font-size: 2rem;
    }
    .footer .footer-iconTop a:hover{
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 480px){
    .header #menu-icon{
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 1%;
        background-color: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .2rem rgba(0,0,0,.2);
        transform: translateY(-150%);
        transition: 2s ease;
    }
    .navbar.active{
        transform: translateY(0);
    }
    .navbar a{
        display: block;
        font-size: 1.5rem;
        margin: 3rem 0;
    }
    .header{
        padding: 1.5rem 1%;
    }
    .header .logo{
        font-size: 2rem;
    }
    .home{
        flex-direction: column;
    }
    .home h3{
        font-size: 2rem;
        font-weight: 500;
    }
    .home h1{
        font-size: 3rem;
        font-weight: 600;
    }
    .home h1:hover{
        transform: scale(1.05);
    }
    .home p{
        font-size: 1.5rem;
    }
    .home .home-img img{
        display: block;
        width: 70vw;
    }
    .heading{
        font-size: 2.5rem;
    }
    .about{
        flex-direction: column;
    }
    .about .about-img img{
        display: block;
        width: 70vw;
    }
    .about h3{
        font-size: 2rem;
    }
    .about p{
        font-size: 1.5rem;
    }
    .btn{
        display: block;
        text-align: center;
        width: 100%;
    }
    .project-container{
        display:flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
    }
    .project-layer h4{
        font-size: 2.5rem;
    
    }
    .project-layer a{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    .project-layer a i{
        font-size: 1.7rem;
    }
    .contact{
        display: block;
    }
    .contact .contact-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
    }
    .contact .contact-left p i{
        font-size: 2rem;
    }
    .contact .contact-left p{
        font-size: 1.5rem;
    }
    .contact .contact-right form{
        width: 100%;
    }
    .footer{
        padding: 2rem 3%;
    }
    .footer .footer-text p{
        font-size: 1.5rem;
    }
    .footer .footer-iconTop a{
        font-size: 1.7rem;
    }
    .footer .footer-iconTop a:hover{
        font-size: 1.5rem;
    }
}
